
@media (max-width: 600px) {
    .card {
      width: 100%;
      height: auto;
    }
  }
  
  
  @media (min-width: 768px) {
    .card {
      width: 60%;
      height: auto;
    }
  }
  
  input {
    width: 100%;
  }

  [class ="card border-dark mb-3"] {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: absolute;
    top: -310px;
  }

  [class = "d-flex flex-column align-items-center justify-content-center"] {
    position: relative;
  }