<div class="d-flex flex-column align-items-center justify-content-center">
    <div class="card text-white bg-info mb-3" *ngIf="CurrentState === 'Wait'">
      <p> S'il vous plait, attendez quelques instants jusqu'au téléchargement de la page.</p>
    </div>
    <div class="card text-white bg-danger mb-3" *ngIf="CurrentState === 'NotVerified'">
      <p> Oups, nous avons détecté une erreur...</p>
      <p> Nous sommes désolés, cette page a expiré. Rendez-vous sur la page "Mot de passe oublié" pour recevoir un
        nouveau lien de réinitialisation de mot de passe. Attention, ce lien n'est valide que pour un temps limité.
      </p>
    </div>
    <div class="card border-dark mb-3" *ngIf="CurrentState=='Verified'">
      <div class="card-header text-center">
        <h3>Changer votre mot de passe</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="ResponseResetForm" (ngSubmit)="ResetPassword(ResponseResetForm)">
          <div class="control-group d-flex flex-row align-items-start">
            <label class="control-label col-md-6 text-md-right">Nouveau mot de passe</label>
            <div class="d-flex flex-column col-md-6">
              <input class="form-control form-control-sm" placeholder="Entrer votre mot de passe" type="password" id="password"
                formControlName="newPassword" />
              <mat-error class="align-self-start"
                *ngIf="ResponseResetForm.controls.newPassword?.invalid && (ResponseResetForm.controls.newPassword.dirty || ResponseResetForm.controls.newPassword.touched)">
                <div *ngIf="ResponseResetForm.controls.newPassword?.errors.required">
                  Password est obligatoire.
                </div>
                <div *ngIf="ResponseResetForm.controls.newPassword?.invalid">
                  Password doit contenir 8 caractères.
                </div>
              </mat-error>
            </div>
          </div>
          <br>
          <div class="control-group d-flex flex-row align-items-start">
            <label class="control-label col-md-6 text-md-right">Mot de passe de confirmation</label>
            <div class="d-flex flex-column col-md-6">
              <input class="form-control form-control-sm" placeholder="Confirmer votre mot de passe" type="password" id="cpassword"
                formControlName="confirmPassword" />
              <mat-error class="align-self-start"
                *ngIf="ResponseResetForm.controls.confirmPassword?.invalid && (ResponseResetForm.controls.confirmPassword.dirty || ResponseResetForm.controls.confirmPassword.touched)">
                <div *ngIf="ResponseResetForm.controls.confirmPassword?.errors.required">
                  Password est obligatoire.
                </div>
                <div *ngIf="ResponseResetForm.controls.confirmPassword?.invalid">
                  Password doit contenir 8 caractères.
                </div>
                <div *ngIf="ResponseResetForm.controls.confirmPassword?.errors.mustMatch">
                  Password n'est pas conforme.
                </div>
              </mat-error>
            </div>
          </div>
          <br>
          <br>
          <div>
            <button type="submit" class="btn btn-success float-right">Changer votre mot de Passe</button>
          </div>
        </form>
      </div>
    </div>
    <br>
    <div class="card text-white bg-danger mb-3" *ngIf="errorMessage">
      <p>Oups, nous avons détecté une erreur...</p>
      <p>{{errorMessage}}</p>
    </div>
    <div class="card text-white bg-success mb-3" *ngIf="successMessage">
      <p>{{successMessage}}</p>
    </div>
  </div>
  