
  <div class="row justify-content-center">
    <div class="col-md-7 my-auto justify-content-center">
      <div class="card border-dark mb-3">
        <div class="card-header text-center">
          <h1>Présentation de ZenRelax </h1>
        </div>
        <div class="card-body">
          <h2>Mieux vivre le stress avec ZenRelax</h2>
          <p>Depuis sa création en 2020 par l'instructeur Ahmed Jemai, l'application ZenRelax vous permet de limiter le
          stress et d'installer le calme et la tranquilité en quelques minutes.
          Elle a été mise au point graçe aux différents ouvrages élaborés par le fameux psychiatre Christophe André sur
          le sujet de la méditation. Cette application est d'utilisation très simple, efficace et gratuite.</p>
         <br>
          <h2>Contenu de ZenRelax</h2>
          <p>L' application ZenRelax comporte essentiellement deux types de pratiques méditatives:</p>
            <ul>
          <li> <h4>Pranayama:</h4> <p>C'est une branche de Yoga basée sur la respiration. Elle utilise le lien entre notre état mental et
          la respiration. Vous avez peut-être remarqué que, lorsque vous êtes stressés, la respiration s'accélère. A
          l'inverse, un état d'esprit zen génère une respiration profonde et calme.
          Pranayma agit sur le souffle permettant ainsi de calmer les agitations du mental.</p>
          <p>Pour plus d'information sur le Pranayama, <a href = "https://www.elle.fr/Minceur/Yoga/Pranayama-3637349">cliquez-ici.</a></p></li>

          <li><h4>Méditation: </h4> <p> C'est une pratique millénaire, qui a vu le jour en Inde il y a plus de cinq mille ans. Elle consiste à s'entraîner à maintenir son attention et à empêcher son esprit de se laisser emporter par les pensées qui surgissent sans arrêt.</p>
          <p>Pour plus d'information sur la Méditation, <a href = "https://www.nicolebordeleau.com/meditation/">cliquez-ici.</a></p></li>
        </ul>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>
