p {
    display: inline;
  }
  
  label {
    color: #adad85;
  }
  .card {
    margin-bottom: 1em;
  }
  
  .rounded-image img {
  max-width: 100%;
  height: auto;
  }
  
  hr {
    clear: both;
    display: block;
    height: 1px;
    border-style: 1px dashed black;
  }
  