<div id = "iddiv" class="d-flex flex-column align-items-center justify-content-center">
    <div class="card border-dark">
      <div class="card-header text-center">
        <h3>Se connecter</h3>
      </div>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
          <div class="control-group d-flex flex-row align-items-start">
            <label class="control-label col-md-6 text-md-right">Login</label>
            <div class="d-flex flex-column col-md-6">
              <input _ngcontent-c0="" class="form-control form-control-sm" type="text" placeholder="Choisir un login" formControlName="login">
              <mat-error class="align-self-start"
                *ngIf="contactForm.controls.login?.invalid && (contactForm.controls.login.dirty || contactForm.controls.login.touched)">
                <div *ngIf="contactForm.controls.login.errors.required">
                  Login est obligatoire.
                </div>
              </mat-error>
            </div>
          </div>
          <br>
          <div class="control-group d-flex flex-row align-items-start">
            <label class="control-label col-md-6 text-md-right">Email</label>
            <div class="d-flex flex-column col-md-6">
              <input type="email" class="form-control form-control-sm" placeholder="Entrer votre adresse email" formControlName="email" email>
              <mat-error class="align-self-start"
                *ngIf="contactForm.controls.email?.invalid && (contactForm.controls.email.dirty || contactForm.controls.email.touched)">
                <div *ngIf="contactForm.controls.email?.errors.required">
                  Email est obligatoire.
                </div>
                <div *ngIf="contactForm.controls.email?.errors?.email">
                  Email n'est pas valide.
                </div>
              </mat-error>
            </div>
          </div>
          <br>
          <div class="control-group d-flex flex-row align-items-start">
            <label class="control-label col-md-6 text-md-right">Mot de passe</label>
            <div class="d-flex flex-column col-md-6">
              <input type="password" class="form-control form-control-sm" placeholder="Entrer votre mot de passe" formControlName="MPasse">
              <mat-error class="align-self-start"
                *ngIf="contactForm.controls.MPasse?.invalid && (contactForm.controls.MPasse.dirty || contactForm.controls.MPasse.touched)">
                <div *ngIf="contactForm.controls.MPasse?.errors.required">
                  Password est obligatoire.
                </div>
                <div *ngIf="contactForm.controls.MPasse?.invalid">
                  Password doit contenir 8 caractères.
                </div>
              </mat-error>
            </div>
          </div>
          <br>
          <div class="buttons d-flex flex-row justify-content-between">
            <button type="button" class="btn btn-danger d-flex flex-row align-items-center" (click)="onGoBack()"><i
              class="fa fa-ban"></i> &nbsp;
            Annuler</button>
            <button type="submit" [disabled]="validForm()" class="btn btn-success d-flex flex-row align-items-center"><i
                class="fa fa-save"></i> &nbsp;
              Enregister</button>
          </div>
        </div>
        <div class="card-footer">
          <p class="d-flex flex-row align-items-center">
            <label>Nouveau sur cette application ?</label>
            <a routerLink="/signup"> &nbsp; <label> Créez un compte.</label></a>
          </p>
          <p class="d-flex flex-row align-items-center"><label>Mot de passe oublié ?</label> <a
              routerLink="/request-reset-password"> &nbsp; <label> Cliquez ici.</label></a></p>
        </div>
      </form>
    </div>
    <br>
    <div id="footer-card" class="card text-white bg-danger mb-3" *ngIf="messageError">
      <p>Oups, nous avons détecté une erreur...</p>
      <p>{{messageError}}</p>
    </div>
  </div>
  