
#footer-card {
    height: 15%;
  }

  [class ="card border-dark"] {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  mat-error div {
      color: red;
  }
  
  @media (max-width: 600px) {
    .card {
      width: 100%;
      height: auto;
    }
  }

  mat-error div {
    color: red;
  }
  
  @media (min-width: 768px) {
    .card {
      width: 60%;
      height: auto;
    }
  }
  
  input {
    width: 100%;
  }
  
  
  h3 {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
  
  
  