@media (max-width: 600px) {
    .card {
      width: 100%;
      height: auto;
    }
  }

  mat-error div {
      color: red;
  }
  
  
  @media (min-width: 768px) {
    .card {
      width: 60%;
      height: auto;
    }
  }
  
  [class = "d-flex flex-column align-items-center justify-content-center"] {
    position: relative;
  }
  
  [class ="card border-dark mb-3"] {
    position: absolute;
    top: -300px;
  }