<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class="card border-dark mb-3" *ngIf="repirationOutput === 'Equilibré'">
        <div class="card-header text-center">
          <h3>Cohérence cardiaque</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div id="animeDemo">
              <svg width="500" height="510">
                <rect id="rect" x="267" y="10" width="65px" height="500"
                  style="fill:#d6d6c2;stroke-width:2;stroke-dasharray:none;stroke: none;"></rect>
              </svg>
              <section class="stage ball-coh">
                <figure class="ball bubble"></figure>
              </section>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="rect-time">{{ChronometreMinutes}}:{{ChronometreSecondes}}</div>
            <button type="button" class="btn btn-outline-danger col-md-2 offset-md-3" (click)="pauseAnimation()">
              Pause</button>
            <button type="button" class="btn btn-outline-success col-md-2 offset-md-3" (click)="restartAnimation()"
              [disabled]="(minutes === 0) && (secondes === 0)"> Play</button>
          </div>
        </div>
      </div>
      <div class="card border-dark mb-3" *ngIf="repirationOutput === 'Calmante'">
        <div class="card-header text-center">
          <h3>Respiration calmante</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div id="animeDemo">
              <svg width="600" height="300">
                <polygon points="110,250 310,50 510,250"
                  style="fill:none;stroke:#d6d6c2;stroke-width:60;stroke-dasharray:none;" />
              </svg>
              <section class="stage ball-calm">
                <figure class="ball bubble"></figure>
              </section>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="rect-time">{{ChronometreMinutes}}:{{ChronometreSecondes}}</div>
            <button type="button" class="btn btn-outline-danger col-md-2 offset-md-3" (click)="pauseAnimation()">
              Pause</button>
            <button type="button" class="btn btn-outline-success col-md-2 offset-md-3" (click)="restartAnimation()"
              [disabled]="(minutes === 0) && (secondes === 0)"> Play</button>
          </div>
        </div>
      </div>
      <div class="card border-dark mb-3" *ngIf="repirationOutput === 'Dynamisante'">
        <div class="card-header text-center">
          <h3>Respiration dynamisante</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div id="animeDemo">
              <svg width="600" height="300">
                <polygon points="310,250 110,50 510,50"
                  style="fill:none;stroke:#d6d6c2;stroke-width:60;stroke-dasharray:none;" />
              </svg>
              <section class="stage ball-dyn">
                <figure class="ball bubble"></figure>
              </section>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="rect-time">{{ChronometreMinutes}}:{{ChronometreSecondes}}</div>
            <button type="button" class="btn btn-outline-danger col-md-2 offset-md-3" (click)="pauseAnimation()">
              Pause</button>
            <button type="button" class="btn btn-outline-success col-md-2 offset-md-3" (click)="restartAnimation()"
              [disabled]="(minutes === 0) && (secondes === 0)"> Play</button>
          </div>
        </div>
      </div>
      <div class="card border-dark mb-3" *ngIf="repirationOutput === 'Carré'">
        <div class="card-header text-center">
          <h3>Respiration carrée</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div id="animeDemo">
              <svg width="600" height="400">
                <rect x="170" y="50" width="300" height="300"
                  style="fill:none;stroke:#d6d6c2;stroke-width:60;stroke-dasharray:none;" />
              </svg>
              <section class="stage ball-carre">
                <figure class="ball bubble"></figure>
              </section>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="rect-time">{{ChronometreMinutes}}:{{ChronometreSecondes}}</div>
            <button type="button" class="btn btn-outline-danger col-md-2 offset-md-3" (click)="pauseAnimation()">
              Pause</button>
            <button type="button" class="btn btn-outline-success col-md-2 offset-md-3" (click)="restartAnimation()"
              [disabled]="(minutes === 0) && (secondes === 0)"> Play</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
